// 全局 CSS 变量
@import "common";

html,body,#app  {
  height: 100%;
  margin: 0;
  padding: 0;
  /* 隐藏滚动条但允许滚动 */
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

